@page
@model Parqueadero.App.Frontend.Pages.ListaPropietariosModel
@{
}

<!-- Vertical navbar -->
<div class="vertical-nav bg-white p-4">
  <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#formRegistroPropietario">Agregar Cliente</a>
</div>

<!-- Page content -->
<div class="page-content">
  <nav class="navbar navbar-dark bg-primary shadow" id="navigationBar">
    <button class="navbar-toggler text-white" id="sidebarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" asp-page="/Home">Parqueadero</a>
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" asp-page="/Index">Cerrar sesión</a>
        </li>
    </ul>
  </nav>

  <div class="container-fluid p-4">
    <table class="table my-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Identificación</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Dirección</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      @foreach(var propietario in Model.propietarios) {
        <tr>
            <td>@propietario.identificacion</td>
            <td>@propietario.nombre</td>
            <td>@propietario.apellidos</td>
            <td>@propietario.fechaNacimiento</td>
            <td>@propietario.direccion</td>
            <td>@propietario.telefono</td>
            <td>@propietario.correo</td>
            <td>
              <a class="btn btn-block btn-primary table-btn" asp-page="./VerPropietario" asp-route-id="@propietario.id">Editar</a>
              <a class="btn btn-block btn-danger table-btn text-white" asp-page="./EliminarPropietario" asp-route-id="@propietario.id">Eliminar</a>
            </td>
        </tr>
      }
    </table>
  </div>
</div>

<!--Modal para registrar propietarios-->
<div class="modal modal-fade" id="formRegistroPropietario" tabindex="-1" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
        <div class="modal-body">
            <div class="row">
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.nombre" type="text"  placeholder="Nombre">
                    <span class="text-danger" asp-validatio-for="nuevoPropietario.nombre"></span>
                </div>   
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.apellidos" type="text" placeholder="Apellidos">
                    <span class="text-danger" asp-validation-for="nuevoPropietario.apellidos"></span>
                </div> 
            </div>
            <div class="row">
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.identificacion" type="text" placeholder="Identificación">
                    <span class="text-danger" asp-validation-for="nuevoPropietario.identificacion"></span>
                </div>
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.fechaNacimiento" type="date" placeholder="Fecha de nacimiento">
                    <span class="text-danger" asp-validation-for="nuevoPropietario.fechaNacimiento"></span>
        
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.direccion" type="text" placeholder="Dirección">
                    <span class="text-danger" asp-validation-for="nuevoPropietario.direccion"></span>
                </div>  
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.telefono" type="text" placeholder="Teléfono">
                    <span class="text-danger" asp-validation-for="nuevoPropietario.telefono"></span>
                </div> 
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="nuevoPropietario.correo" type="email" placeholder="Correo electrónico">
                <span class="text-danger" asp-validation-for="nuevoPropietario.correo"></span>
            </div>
            <div class="row">
                <div class="col form-group">
                    <input class="form-control" asp-for="nuevoPropietario.clave" type="password" placeholder="Contraseña">
                    <span class="text-danger" asp-validation-for="nuevoPropietario.clave"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Registrar Usuario</button>
        </div>
      </form>
    </div>
  </div>
</div>