@page
@model Parqueadero.App.Frontend.Pages.VerPropietarioModel
@{
}
<h1>Detalle del propietario @Model.propietario.nombre</h1>
<ul>
    <li>Identificación: @Model.propietario.identificacion</li>
    <li>Nombre: @Model.propietario.nombre</li>
    <li>Apellidos: @Model.propietario.apellidos</li>
    <li>Fecha de nacimiento: @Model.propietario.fechaNacimiento</li>
    <li>Dirección: @Model.propietario.direccion</li>
    <li>Telefono: @Model.propietario.telefono</li>
    <li>Correo: @Model.propietario.correo</li>
    <li>Clave: @Model.propietario.clave</li>
</ul>